body {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.notification-message-dislike {
  top: 100px !important;
  background-color: #ffd3d3 !important;
}
.notification-message-like {
  top: 100px !important;
  background-color: #d8ffd8 !important;
}